.selectSala {
    font-size: 1.7rem;

    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }
}

legend {
    border-bottom: 1px solid $gris !important;
}

// .boton-guardar {
//     background-color: $azul;
//     border-color: $azul;
//     font-size: 1.7rem !important;
//     color: white;

//     &:hover {
//         background-color: $rojo;
//         border-color: $rojo;
//         color: white !important;
//     }
// }
