.configActivo {
    font-size: 1.7rem;

    input,
    select,
    textarea {
        font-size: 1.6rem;
    }

    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }

    // .boton-config {
    //     width: 100%;
    //     background-color: $azul;
    //     border-color: $azul;
    //     font-size: 1.7rem;
    //     color: white;

    //     &:hover {
    //         background-color: $rojo;
    //         border-color: $rojo;
    //         color: white;
    //     }
    // }
}

.tituloModal {
    font-family: $fuenteTitulo;
    margin-bottom: 2%;
}

#editUbicacion {
    margin-left: 2%;
    width: 100%;

}

#listaActivos {
    #activosSeleccionados {
        list-style: none;

        .basurero {

            &:hover {
                cursor: pointer;
                color: $rojo;
            }
        }
    }
}

// #agregar {
//     background-color: $azul;
//     border-color: $azul;
//     color: white;

//     &:hover {
//         background-color: $rojo;
//         border-color: $rojo;
//         color: white;
//     }
// }

// #trasladar {
//     width: 100%;
//     background-color: $azul;
//     border-color: $azul;

//     font-size: 1.7rem;

//     &:hover {
//         background-color: $rojo;
//         border-color: $rojo;
//     }
// }

.configForm {
    width: 95%;
}

.alert {
    display: none !important;
}

legend {
    border-bottom: 1px solid $gris;
    margin-left: 0%;
}
