.shortcuts {
    float: left;
    width: 25%;
    margin-right: 1.5%;
    margin-top: 1.5%;
    border-right: 2px solid #B5B6B7;
}

.info_container {
    float: left;
    width: 72.5%;
    font-size: 1.5rem;

    .info_h1 {
        text-align: center;
        font-family: 'Sanchez', serif;
        float: left;
        width: 100%;
    }

    .sala_img {
        width: 21%;
        float: left;
    }

    .div_info_salas {
        float: left;
        width: 67%;
        margin-left: 2%;
    }

    .info_sala_article {
        font-family: 'Mukta', sans-serif;
        padding-bottom: 2%;
        border-bottom: 2px solid #B5B6B7;
        float: left;
        width: 100%;

        p {
            display: inline;
        }
    }

    .editar_sala_button,
    .dar_baja_sala_button {
        background-color: #405D9A;
        border-radius: 11px;
        border-style: none;
        color: white;
        padding: 1.5%;
        margin: 1%;

        &:hover {
            cursor: pointer;
            background-color: #C9081F;
        }
    }

}
