#cuerpoInicio {
    font-family: $fuenteCuerpo;
    background: $fondoBlanco;
    background-repeat: no-repeat;
}

.navbar {
    background-color: $fondoBarra;
    width: 100%;
    border-radius: 0px !important;
    margin-bottom: 0px !important;

    div {
        text-align: center;
    }

    .user-role {
        font-family: $fuenteTitulo;
        font-size: 2.5em;
        color: whitesmoke;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    }

    #logo_vicerrectoria_navbar {
        display: inline-block;
        width: 50%;
    }

    #sidebarCollapse {
        display: none;
    }

    // p {
    //     display: inline-block;
    // }

    .navbar-user {
        font-family: $fuenteCuerpo;
        color: whitesmoke;
        float: right;
        margin-top: 6%;
    }

    #user_icon {
        margin: auto;
        float: left;
    }

    #logout {
        background: none;
        color: white;
        border: 1px solid;
        border-radius: 7px;
        margin: auto;
        margin-top: 1%;

        &:hover {
            font-weight: bold;
        }
    }


}

.cuadrado {
    background: $fondoCuadros;
    border: none;
    padding: 18%;
    border-radius: 35px;

    &:hover {
        background-color: #898989;
    }

    img {
        width: 85%;
    }
}

.cuadro {
    padding: 2% 5%;
    text-align: center;

    p {
        font-size: 1.5em;
        font-weight: bold;
    }
}

#footer {
    width: 100%;
    float: left;
    margin-top: 2%;
}
