#cuerpoInicio {
    font-family: $fuenteCuerpo;
    background: $fondoBlanco;
    background-repeat: no-repeat;
}


.navbar {
    background-color: $fondoBarra;
    width: 100%;
    border-radius: 0px !important;

    #logo_vicerrectoria_navbar {
        display: inline-block;
        margin-left: 1%;
        width: 7%;
    }

    p {
        display: inline-block;
    }

    .user_rol {
        font-family: $fuenteTitulo;
        font-size: 2.5em;
        color: whitesmoke;
        margin-left: 34%;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    }

    .user_name {
        font-family: $fuenteCuerpo;
        color: whitesmoke;
        margin-left: 28%;
    }

    #user_icon {
        display: inline-block;
        margin-left: 1%;
    }

    #logout {
        background: none;
        color: white;
        float: right;
        margin-right: 0.5%;
        margin-top: -1.7%;
        border: 1px solid;
        border-radius: 7px;

        &:hover {
            font-weight: bold;
        }
    }


}

.cuadrado {
    background: $fondoCuadros;
    border: none;
    padding: 35%;
    border-radius: 35px;

    &:hover {
        background-color: #898989;
    }
}

.cuadro {
    display: inline-block;
    padding: 2% 5%;

    p {
        font-size: 1.5em;
        margin-left: 50%;
    }
}

#cuadros {
    margin: auto;

}
