/* --------------------------- DISEÑO CSS --------------------------- */

#cuerpoLogin {
    background: $fondoAzul;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 700px;
    margin-top: 4%;
    padding: 0%;
}

.container {
    #pantallaLogin {
        position: relative;
        width: 85%;
        height: 600px;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        margin: auto;
        padding: 0px 5%;
    }

    #logoVicerrectoriaRojoLoginImg {
        display: none;
    }

    /*#seccionRojaLogin{
        position: absolute;
        width: 75%;
        height: 118%;
        //background-image: url('public/imagenes/seccionRoja.svg');
        //background-repeat: no-repeat;
        top: -5.7%;
        left: -1%;
    }*/

    #seccionRojaImg {
        position: absolute;
        width: 50.8%;
        height: 118%;
        //background-image: url('public/imagenes/seccionRoja.svg');
        //background-repeat: no-repeat;
        top: -9%;
        left: -1%;
    }

    #sipa {
        position: absolute;
        top: 2%;
        left: 2%;

        @include sipa(36px);
    }

    /*#logoVicerrectoriaLogin{
        position: absolute;
        width: 100%;
        height: 57%;
        left: 7%;
        top: 28%;

        //@include logoVicerrectoria();
    }*/

    #logoVicerrectoriaLoginImg {
        position: absolute;
        width: 35%;
        height: 57%;
        left: 1%;
        top: 19%;

        //@include logoVicerrectoria();
    }

    #tituloFormularioLogin {
        position: absolute;
        left: 20%;
        top: -28%;

        @include titulo(30px, #000000);
    }

    #formularioLogin {
        position: absolute;

        width: 53%;
        height: 72%;
        left: 46%;
        top: 28%;
    }
}

#formularioLogin {
    label {
        @include label(18px);
    }

    input {
        @include input(70%, #7e7c7c);
    }

    #labelUsuarioLogin {
        position: absolute;
        left: 11%;
        top: 5%;
    }

    #inputUsuarioLogin {
        position: absolute;
        left: 11%;
        top: 11%;
    }

    #labelClaveLogin {
        position: absolute;
        left: 11%;
        top: 34%;
    }

    #inputClaveLogin {
        position: absolute;
        left: 11%;
        top: 40%;
    }

    #acceder {
        position: absolute;

        width: 70%;
        left: 12.5%;
        top: 64%;

        -moz-box-shadow: 0px 10px 14px -7px #2b3233;
        -webkit-box-shadow: 0px 10px 14px -7px #2b3233;
        box-shadow: 0px 10px 14px -7px #2b3233;
        background: -webkit-gradient(linear,
                left top,
                left bottom,
                color-stop(0.05, #31405f),
                color-stop(1, #29487d));
        background: -moz-linear-gradient(top, #31405f 5%, #29487d 100%);
        background: -webkit-linear-gradient(top, #31405f 5%, #29487d 100%);
        background: -o-linear-gradient(top, #31405f 5%, #29487d 100%);
        background: -ms-linear-gradient(top, #31405f 5%, #29487d 100%);
        background: linear-gradient(to bottom, #31405f 5%, #29487d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31405f', endColorstr='#29487d', GradientType=0);
        background-color: #31405f;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 20px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: "Mukta", sans-serif;
        font-weight: normal;
        font-size: 20px;
        padding: 13px 32px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #000000;
    }

    #acceder:hover {
        background: -webkit-gradient(linear,
                left top,
                left bottom,
                color-stop(0.05, #29487d),
                color-stop(1, #31405f));
        background: -moz-linear-gradient(top, #29487d 5%, #31405f 100%);
        background: -webkit-linear-gradient(top, #29487d 5%, #31405f 100%);
        background: -o-linear-gradient(top, #29487d 5%, #31405f 100%);
        background: -ms-linear-gradient(top, #29487d 5%, #31405f 100%);
        background: linear-gradient(to bottom, #29487d 5%, #31405f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29487d', endColorstr='#31405f', GradientType=0);
        background-color: #29487d;
    }

    #olvidoClave {
        position: absolute;
        left: 34%;
        top: 82%;
    }

    #olvidoClave {
        text-decoration: none;
        font-family: $fuenteCuerpo;
        font-weight: $fuenteWeight;
        color: blue !important;
    }
}

#footerLogin {
    position: absolute;
    width: 99%;
}

.contenedorFooter {
    width: 100%;
    margin-top: 2%;
}

#copyright {
    color: white !important;
    font-family: $fuenteCuerpo;
}

#footerLink {
    color: white !important;
    font-family: $fuenteCuerpo;

    &:hover {
        color: #051e68 !important;
    }
}

/* CODIGO DEL CREAR ROL */
#crearRolForm {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}

#crearRolForm {
    label {
        @include label(18px);
    }
}

/*CODIGO DE LA TABLA*/

body {
    font-family: "lato", sans-serif;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;

    small {
        font-size: 0.5em;
    }
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        background-color: #7184ac;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 10%;
    }

    .col-2 {
        flex-basis: 40%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    .col-4 {
        flex-basis: 25%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        li {
            display: block;
        }

        .col {
            flex-basis: 100%;
        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6c7a89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}
