#h3ActivoReserva {
    font-family: $fuenteTitulo;
    margin: auto;
}

.titulo-reserva {
    text-align: center;
    margin-top: 4% !important;
}

#calendar {
    margin-bottom: 5%;
}

.sidebarReservas {
    display: none;
}
