@media (max-width: 768px) {
    .fc {
        font-size: 1em !important;
    }

    .fc-today-button {
        margin-top: 0.5rem !important;
    }

    .fc-toolbar h2 {
        font-size: 1.5em !important;
    }

    .select-sala {
        margin-left: 1.5rem;
    }

    #ModalAdd {
        width: 95% !important;

        legend {
            margin-left: 5%;
            width: 90% !important;
        }
    }

}
