.fc {
    font-size: 1.2em !important;
}

@media (max-width: 768px) {
    .fc {
        font-size: 0.9em !important;
    }

    .fc-today-button {
        margin-top: 0.5rem !important;
    }

    .fc-button {
        padding: 0em 0.5em !important;
    }

    .fc-toolbar h2 {
        font-size: 1.5em !important;
    }

    .select-sala {
        margin-left: 1.5rem;
    }

    #ModalAdd {
        width: 95% !important;

        legend {
            margin-left: 5%;
            width: 90% !important;
        }
    }

    #h3ActivoReserva {
        font-size: 2rem !important;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

}
