.custom-radio {
    margin-left: 4%;
}

legend {
    margin-left: 4%;
    width: 92% !important;
}

#h3ActivoReserva {
    font-family: $fuenteTitulo;
}

.titulo-reserva {
    text-align: center;
    margin-top: 4% !important;
}

#calendar {
    margin-bottom: 5%;
}
