/* ------------------------ RESPONSIVE EDITS ------------------- */

@media (max-width: 768px) {
    .container {
        #formularioLogin {
            left: 0 !important;
            width: 100% !important;

            #olvidoClave {
                left: 27% !important;
                text-align: center;
            }
        }

        #tituloFormularioLogin {
            left: 0 !important;
            top: -23% !important;
            left: 1rem !important;
            text-decoration: underline;
        }

        #seccionRojaLogin {
            #sipa {
                left: 1rem !important;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        #seccionRojaLogin {
            #seccionRojaImgLogin {
                display: none;
            }

            #logoVicerrectoriaLoginImg {
                display: none;
            }

            #logoVicerrectoriaRojoLoginImg {
                display: block;
                width: 36%;
                float: right;
            }

            #sipa {
                position: absolute;
                top: 2%;
                left: 2%;

                @include sipaMobile(36px);
            }

            #formularioLogin {
                width: 100%;
                left: 0;

                #labelUsuarioLogin {
                    left: 1%;
                    top: 5%;
                }

                #labelClaveLogin {
                    left: 1%;
                    top: 35%;
                }

                input {
                    width: 78%;
                    padding: 5%;
                }

                #inputUsuarioLogin {
                    left: 1%;
                    top: 10%;
                }

                #inputClaveLogin {
                    left: 1%;
                }

                #acceder {
                    width: 90%;
                    left: -0.5%;
                }
            }

            #tituloFormularioLogin {
                font-size: 28px;
                margin-left: 4%;
                left: 0;
                top: -20%;

            }

            #logoVicerrectoriaLoginImg {
                left: 3%;
            }

            #pantallaLogin {
                height: 57%;
            }
        }
    }

    #olvidoClave {
        left: 24%;
    }
}

@media only screen and (max-width: 899px) {
    .container {
        #seccionRojaLogin {
            #seccionRojaImgLogin {
                margin-top: -5%;
                margin-left: -6.3%;
                width: 64%;
            }

            #logoVicerrectoriaLoginImg {
                left: 3%;
            }

            #pantallaLogin {
                height: 67%;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        #seccionRojaLogin {
            #seccionRojaImgLogin {
                margin-top: -5%;
                margin-left: -6.3%;
                width: 64%;
            }

            #logoVicerrectoriaLoginImg {
                left: 3%;
            }
        }
    }
}

@media only screen and (min-width: 901px) and (max-width: 959px) {
    .container {
        #seccionRojaLogin {
            #seccionRojaImgLogin {
                margin-top: -5%;
                margin-left: -6.3%;
                width: 63.5%;
            }

            #logoVicerrectoriaLoginImg {
                left: 2.5%;
            }
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1009px) {
    .container {
        #seccionRojaLogin {
            #seccionRojaImgLogin {
                margin-top: -5%;
                margin-left: -6.3%;
                width: 59.4%;
            }

            #logoVicerrectoriaLoginImg {
                left: 1.5%;
            }
        }
    }

}

@media only screen and (min-width: 1010px) and (max-width: 1399px) {
    .container {
        #seccionRojaLogin {
            #seccionRojaImgLogin {
                margin-top: -4%;
                margin-left: -6.3%;
                width: 56%;
            }

            #logoVicerrectoriaLoginImg {
                left: 1%;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        #seccionRojaLogin {
            #seccionRojaImgLogin {
                width: 56%;
                margin-top: -4.2%;
                margin-left: -6.4%;
            }

            #logoVicerrectoriaLoginImg {
                left: 1%;
            }
        }
    }
}
