#shortcuts_h3 {
    text-align: center;
    color: white;
}

.shortcuts {
    font-family: 'Mukta', sans-serif;
    background-color: #C9081F;
    margin-top: -1.3%;

    a {
        text-decoration: none;
        color: white;
    }

    li {
        list-style: none;
    }

    .shortcut_group {
        margin-bottom: 6%;
    }

    .shortcut_link {
        &:hover {
            color: white;

        }
    }
}
