#table-usuarios {
    font-family: $fuenteCuerpo;
    font-size: 1.7rem;

    thead {
        background-color: $azulito;
        color: white;
    }

    .browser-default {
        width: 70%;
        padding: 0%;
    }

    .ver-btn-roles {
        background-color: $azulito;
        border-color: $azulito;

        &:hover {
            background-color: $rojo;
            border-color: $rojo;
        }
    }
}
