#table-usuarios {
    font-family: $fuenteCuerpo;
    font-size: 1.7rem;

    tbody {
        display: block;
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    }

    thead {
        background-color: $azulito;
        color: white;

        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .browser-default {
        width: 70%;
        padding: 0%;
    }

    // .ver-btn-roles {
    //     background-color: $azulito;
    //     border-color: $azulito;

    //     &:hover {
    //         background-color: $rojo;
    //         border-color: $rojo;
    //     }
    // }
}

@media (max-width: 600px) {
    .table-responsive-sm table {
        border: 0;
    }

    .table-responsive-sm table thead {
        display: none;
    }

    .table-responsive-sm table tr {
        margin-bottom: 20px;
        display: block;
        border-bottom: 2px solid #ddd;
        box-shadow: 2px 2px 1px #dadada;
    }

    .table-responsive-sm table td {
        display: block;
        text-align: right;
        font-size: 14.5px;
    }

    .table-responsive-sm table td:last-child {
        border-bottom: 0;
    }

    .table-responsive-sm table td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table-responsive-sm tbody {
        line-height: 0 !important;
    }

    #table-usuarios {
        thead {
            display: none;
        }
    }

    .roles {
        td {
            text-align: end !important;
            float: none !important;
        }

        .permiso-rol {
            font-weight: bold;
        }
    }
}
