#table-usuarios {
    font-family: $fuenteCuerpo;
    font-size: 1.7rem;

    tbody {
        display: block;
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    }

    thead {
        background-color: $azulito;
        color: white;

        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .browser-default {
        width: 70%;
        padding: 0%;
    }

    // .ver-btn-roles {
    //     background-color: $azulito;
    //     border-color: $azulito;

    //     &:hover {
    //         background-color: $rojo;
    //         border-color: $rojo;
    //     }
    // }
}

@media (max-width: 768px) {
    #table-usuarios {

        tbody {
            overflow-x: scroll;
        }
    }
}
