/* ------------------ FUENTES ------------------ */
$fuenteSipa: 'Vidaloka', serif;
$fuenteTitulo: 'Sanchez', serif;
$fuenteCuerpo: 'Mukta', sans-serif;
$fuenteWeight: normal;
$tamanioTitulo: 0;
$tamanioSubtitulo: 0;
$tamanioCuerpo: 0;

/* ------------------ COLORES ------------------ */
$fondoAzul: linear-gradient(180deg, #31405F 0%, rgba(255, 255, 255, 0) 100%), #9B9B9B;
$fondoBlanco: linear-gradient(180deg, #9B9B9B 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
$fondoBarra: #C9081F;
$fondoBarraLateral: linear-gradient(180deg, #C9081F 22.55%, rgba(255, 255, 255, 0) 96.87%), #C9081F;
$fondoCuadros: #9B9B9B;

/* ------------------ DISEÑOS ------------------ */
$opacidadCuadros: 0.5; /*inicio*/
$bordeCuadros: 35px; /*inicio*/
$sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
$bordeRadioPopUp: 14px;
$bordePopUp: 31px solid #E5E5E5;
$bordeInput: 1px solid #7E7C7C;