.ver-activo {
    font-family: $fuenteCuerpo;
    font-size: 1.7rem;

    #ubicacion-activo {
        border-bottom: 1px solid $gris;
    }

    .ver-activo-input {
        //padding: 2%;
        font-size: 1.6rem;
    }

    select,
    textarea {
        font-size: 1.6rem;
    }

    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }
}

#activos-registrados {
    font-family: $fuenteTitulo;
}

#verActivo {
    font-family: $fuenteTitulo;
}
