@charset "UTF-8";
/* --------------------------- VARIABLES --------------------------- */
/* ------------------ FUENTES ------------------ */
/* ------------------ COLORES ------------------ */
/* ------------------ DISEÑOS ------------------ */
/*inicio*/
/*inicio*/
/* --------------------------- METODOS --------------------------- */
/* --------------------------- METODOS --------------------------- */
/* --------------------------- DISEÑO CSS LOGIN --------------------------- */
/* --------------------------- DISEÑO CSS --------------------------- */
#cuerpoLogin {
  background: -webkit-gradient(linear, left top, left bottom, from(#31405F), to(rgba(255, 255, 255, 0))), #9B9B9B;
  background: linear-gradient(180deg, #31405F 0%, rgba(255, 255, 255, 0) 100%), #9B9B9B;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 700px;
  margin-top: 4%;
  padding: 0%;
}

.container {
  /*#seccionRojaLogin{
        position: absolute;
        width: 75%;
        height: 118%;
        //background-image: url('public/imagenes/seccionRoja.svg');
        //background-repeat: no-repeat;
        top: -5.7%;
        left: -1%;
    }*/
  /*#logoVicerrectoriaLogin{
        position: absolute;
        width: 100%;
        height: 57%;
        left: 7%;
        top: 28%;

        //@include logoVicerrectoria();
    }*/
}

.container #pantallaLogin {
  position: relative;
  width: 85%;
  height: 600px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin: auto;
  padding: 0px 5%;
}

.container #logoVicerrectoriaRojoLoginImg {
  display: none;
}

.container #seccionRojaImg {
  position: absolute;
  width: 50.8%;
  height: 118%;
  top: -9%;
  left: -1%;
}

.container #sipa {
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: "Vidaloka", serif;
  letter-spacing: 3px;
  font-size: 36px;
  color: #FFFFFF;
  font-weight: normal;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.container #logoVicerrectoriaLoginImg {
  position: absolute;
  width: 35%;
  height: 57%;
  left: 1%;
  top: 19%;
}

.container #tituloFormularioLogin {
  position: absolute;
  left: 20%;
  top: -28%;
  font-family: "Sanchez", serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
}

.container #formularioLogin {
  position: absolute;
  width: 53%;
  height: 72%;
  left: 46%;
  top: 28%;
}

#formularioLogin label {
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
}

#formularioLogin input {
  width: 70%;
  border: none;
  border-bottom: 1px solid #7e7c7c;
  padding: 2%;
}

#formularioLogin #labelUsuarioLogin {
  position: absolute;
  left: 11%;
  top: 5%;
}

#formularioLogin #inputUsuarioLogin {
  position: absolute;
  left: 11%;
  top: 11%;
}

#formularioLogin #labelClaveLogin {
  position: absolute;
  left: 11%;
  top: 34%;
}

#formularioLogin #inputClaveLogin {
  position: absolute;
  left: 11%;
  top: 40%;
}

#formularioLogin #acceder {
  position: absolute;
  width: 70%;
  left: 12.5%;
  top: 64%;
  -webkit-box-shadow: 0px 10px 14px -7px #2b3233;
  box-shadow: 0px 10px 14px -7px #2b3233;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #31405f), to(#29487d));
  background: linear-gradient(to bottom, #31405f 5%, #29487d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31405f', endColorstr='#29487d', GradientType=0);
  background-color: #31405f;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Mukta", sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}

#formularioLogin #acceder:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #29487d), to(#31405f));
  background: linear-gradient(to bottom, #29487d 5%, #31405f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29487d', endColorstr='#31405f', GradientType=0);
  background-color: #29487d;
}

#formularioLogin #olvidoClave {
  position: absolute;
  left: 34%;
  top: 82%;
}

#formularioLogin #olvidoClave {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  font-weight: normal;
  color: blue !important;
}

#footerLogin {
  position: absolute;
  width: 99%;
}

.contenedorFooter {
  width: 100%;
  margin-top: 2%;
}

#copyright {
  color: #000000 !important;
  font-family: "Mukta", sans-serif;
}

#footerLink {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
}

/* CODIGO DEL CREAR ROL */
#crearRolForm {
  margin: auto;
  width: 60%;
  border: 3px solid black;
  padding: 10px;
}

#crearRolForm label {
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
}

/*CODIGO DE LA TABLA*/
body {
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #7184ac;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.responsive-table .col-2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.responsive-table .col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.responsive-table .col-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .responsive-table .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: right;
  }
}

/* ------------------------ RESPONSIVE EDITS ------------------- */
@media only screen and (max-width: 600px) {
  .container #seccionRojaLogin #seccionRojaImgLogin {
    display: none;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    display: none;
  }
  .container #seccionRojaLogin #logoVicerrectoriaRojoLoginImg {
    display: block;
    width: 36%;
    float: right;
  }
  .container #seccionRojaLogin #sipa {
    position: absolute;
    top: 2%;
    left: 2%;
    font-family: "Vidaloka", serif;
    letter-spacing: 3px;
    font-size: 36px;
    color: #C9081F;
    font-weight: normal;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .container #seccionRojaLogin #formularioLogin {
    width: 100%;
    left: 0;
  }
  .container #seccionRojaLogin #formularioLogin #labelUsuarioLogin {
    left: 1%;
    top: 5%;
  }
  .container #seccionRojaLogin #formularioLogin #labelClaveLogin {
    left: 1%;
    top: 35%;
  }
  .container #seccionRojaLogin #formularioLogin input {
    width: 78%;
    padding: 5%;
  }
  .container #seccionRojaLogin #formularioLogin #inputUsuarioLogin {
    left: 1%;
    top: 10%;
  }
  .container #seccionRojaLogin #formularioLogin #inputClaveLogin {
    left: 1%;
  }
  .container #seccionRojaLogin #formularioLogin #acceder {
    width: 90%;
    left: -0.5%;
  }
  .container #seccionRojaLogin #tituloFormularioLogin {
    font-size: 28px;
    margin-left: 4%;
    left: 0;
    top: -20%;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    left: 3%;
  }
  .container #seccionRojaLogin #pantallaLogin {
    height: 57%;
  }
  #olvidoClave {
    left: 24%;
  }
}

@media only screen and (max-width: 899px) {
  .container #seccionRojaLogin #seccionRojaImgLogin {
    margin-top: -5%;
    margin-left: -6.3%;
    width: 64%;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    left: 3%;
  }
  .container #seccionRojaLogin #pantallaLogin {
    height: 67%;
  }
}

@media only screen and (max-width: 900px) {
  .container #seccionRojaLogin #seccionRojaImgLogin {
    margin-top: -5%;
    margin-left: -6.3%;
    width: 64%;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    left: 3%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 959px) {
  .container #seccionRojaLogin #seccionRojaImgLogin {
    margin-top: -5%;
    margin-left: -6.3%;
    width: 63.5%;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    left: 2.5%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1009px) {
  .container #seccionRojaLogin #seccionRojaImgLogin {
    margin-top: -5%;
    margin-left: -6.3%;
    width: 59.4%;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    left: 1.5%;
  }
}

@media only screen and (min-width: 1010px) and (max-width: 1399px) {
  .container #seccionRojaLogin #seccionRojaImgLogin {
    margin-top: -4%;
    margin-left: -6.3%;
    width: 56%;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    left: 1%;
  }
}

@media only screen and (min-width: 1400px) {
  .container #seccionRojaLogin #seccionRojaImgLogin {
    width: 56%;
    margin-top: -4.2%;
    margin-left: -6.4%;
  }
  .container #seccionRojaLogin #logoVicerrectoriaLoginImg {
    left: 1%;
  }
}

/* --------------------------- DISEÑO CSS REGISTRARSE  --------------------------- */
/* --------------------------- DISEÑO CSS --------------------------- */
#cuerpoLogin {
  background: -webkit-gradient(linear, left top, left bottom, from(#31405F), to(rgba(255, 255, 255, 0))), #9B9B9B;
  background: linear-gradient(180deg, #31405F 0%, rgba(255, 255, 255, 0) 100%), #9B9B9B;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 700px;
  margin-top: 4%;
  padding: 0%;
}

.container {
  /*#seccionRojaLogin{
        position: absolute;
        width: 75%;
        height: 118%;
        //background-image: url('public/imagenes/seccionRoja.svg');
        //background-repeat: no-repeat;
        top: -5.7%;
        left: -1%;
    }*/
  /*#logoVicerrectoriaLogin{
        position: absolute;
        width: 100%;
        height: 57%;
        left: 7%;
        top: 28%;

        //@include logoVicerrectoria();
    }*/
}

.container #pantallaRegistro {
  position: relative;
  width: 93%;
  height: 600px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin: auto;
  padding: 0px 5%;
}

.container #seccionRojaImgRegistro {
  position: absolute;
  width: 50.8%;
  height: 118%;
  top: -9%;
  left: 50%;
}

.container #sipaRegistro {
  position: absolute;
  top: 2%;
  left: 90%;
  font-family: "Vidaloka", serif;
  letter-spacing: 3px;
  font-size: 36px;
  color: #FFFFFF;
  font-weight: normal;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.container #logoVicerrectoriaLoginImgRegistro {
  position: absolute;
  width: 35%;
  height: 57%;
  left: 65%;
  top: 19%;
}

.container #tituloFormularioRegistro {
  position: absolute;
  left: 15%;
  top: -40%;
  font-family: "Sanchez", serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
}

.container #formularioRegistro {
  position: absolute;
  width: 53%;
  height: 72%;
  left: 3%;
  top: 28%;
}

#formularioRegistro label {
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
}

#formularioRegistro input {
  width: 70%;
  border: none;
  border-bottom: 1px solid #7E7C7C;
  padding: 2%;
}

#formularioRegistro #labelUsuarioRegistro {
  position: absolute;
  left: 6%;
  top: -15%;
}

#formularioRegistro #inputUsuarioRegistro {
  position: absolute;
  left: 6%;
  top: -9%;
}

#formularioRegistro #labelFuncionarioRegistro {
  position: absolute;
  left: 6%;
  top: 4%;
}

#formularioRegistro #inputFuncionarioRegistro {
  position: absolute;
  left: 6%;
  top: 10%;
}

#formularioRegistro #labelCorreoRegistro {
  position: absolute;
  left: 6%;
  top: 23%;
}

#formularioRegistro #inputCorreoRegistro {
  position: absolute;
  left: 6%;
  top: 29%;
}

#formularioRegistro #labelTelefonoRegistro {
  position: absolute;
  left: 6%;
  top: 43%;
}

#formularioRegistro #inputTelefonoRegistro {
  position: absolute;
  left: 6%;
  top: 48%;
}

#formularioRegistro #labelEdificioRegistro {
  position: absolute;
  left: 6%;
  top: 65%;
}

#formularioRegistro #edificioSelect {
  position: absolute;
  left: 20%;
  top: 65%;
}

#formularioRegistro #labelPisoRegistro {
  position: absolute;
  left: 40%;
  top: 65%;
}

#formularioRegistro #pisoSelect {
  position: absolute;
  left: 49%;
  top: 65%;
}

#formularioRegistro #labelUnidadRegistro {
  position: absolute;
  left: 69%;
  top: 65%;
}

#formularioRegistro #unidadSelect {
  position: absolute;
  left: 83%;
  top: 65%;
}

#formularioRegistro #acceder {
  position: absolute;
  width: 70%;
  left: 12.5%;
  top: 77%;
  -webkit-box-shadow: 0px 10px 14px -7px #2b3233;
  box-shadow: 0px 10px 14px -7px #2b3233;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #31405f), to(#29487d));
  background: linear-gradient(to bottom, #31405f 5%, #29487d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31405f', endColorstr='#29487d', GradientType=0);
  background-color: #31405f;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}

#formularioRegistro #acceder:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #29487d), to(#31405f));
  background: linear-gradient(to bottom, #29487d 5%, #31405f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29487d', endColorstr='#31405f', GradientType=0);
  background-color: #29487d;
}

#footerLogin {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 44px;
}

.contenedorFooter {
  width: auto;
  max-width: 680px;
  padding: 13px 15px;
}

#copyright {
  color: #000000 !important;
  font-family: "Mukta", sans-serif;
}

#footerLink {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
}

/* ------------------------ RESPONSIVE EDITS ------------------- */
@media only screen and (max-width: 900px) {
  .container #pantallaRegistro {
    width: 79%;
  }
}

@media only screen and (min-width: 900px) {
  .container #pantallaRegistro {
    width: 83%;
  }
  .container #seccionRojaImgRegistro {
    width: 58%;
    top: -9%;
    left: 42.2%;
  }
  .container #logoVicerrectoriaLoginImgRegistro {
    left: 61%;
  }
  .container #sipaRegistro {
    left: 87%;
  }
  .container #tituloFormularioRegistro {
    left: 7%;
  }
  #formularioRegistro #labelPisoRegistro {
    left: 50%;
  }
  #formularioRegistro #pisoSelect {
    left: 59%;
  }
  #formularioRegistro #acceder {
    left: 16.5%;
  }
  .contenedorFooter {
    margin-top: -6%;
  }
}

@media only screen and (min-width: 1080px) {
  .container #tituloFormularioRegistro {
    left: 19%;
  }
  .container #seccionRojaImgRegistro {
    width: 47%;
    left: 53.3%;
  }
  .container #formularioRegistro #labelPisoRegistro {
    left: 48%;
  }
  .container #formularioRegistro #pisoSelect {
    left: 57%;
  }
  .container #formularioRegistro #acceder {
    left: 18%;
  }
  .contenedorFooter {
    margin-top: -6%;
  }
}

@media only screen and (min-width: 1200px) {
  .container #seccionRojaImgRegistro {
    width: 51.3%;
    left: 49%;
  }
}

@media only screen and (min-width: 1400px) {
  .container #seccionRojaImgRegistro {
    width: 52%;
    left: 48.2%;
  }
  .container #logoVicerrectoriaLoginImgRegistro {
    left: 63%;
  }
  .container #tituloFormularioRegistro {
    left: 19%;
  }
  .container #formularioRegistro #labelPisoRegistro {
    left: 48%;
  }
  .container #formularioRegistro #pisoSelect {
    left: 57%;
  }
  .container #formularioRegistro #acceder {
    left: 17.5%;
  }
  .contenedorFooter {
    margin-top: -2%;
  }
}

/* --------------------------- DISEÑO CSS INICIO  --------------------------- */
#cuerpoInicio {
  font-family: "Mukta", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#BABABA), color-stop(90.62%, #FFFFFF));
  background: linear-gradient(180deg, #BABABA 0%, #FFFFFF 90.62%);
  background-repeat: no-repeat;
}

body {
  overflow-x: hidden;
}

.navbar {
  background-color: #C9081F;
  width: 100%;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.navbar div {
  text-align: center;
}

.navbar .user-role {
  font-family: "Sanchez", serif;
  font-size: 2.5em;
  color: whitesmoke;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.navbar #logo_vicerrectoria_navbar {
  display: inline-block;
  width: 50%;
}

.navbar #sidebarCollapse {
  display: none;
}

.navbar .navbar-user {
  font-family: "Mukta", sans-serif;
  color: whitesmoke;
  margin: auto;
  margin-top: 6%;
}

.navbar #user_icon {
  margin: auto;
  float: left;
}

.navbar #logout {
  background: none;
  color: white;
  border: 1px solid;
  border-radius: 7px;
  margin: auto;
  margin-top: 1%;
}

.navbar #logout:hover {
  font-weight: bold;
}

.cuadrado {
  background: #B7B7B7;
  border: none;
  padding: 18%;
  border-radius: 35px;
}

.cuadrado:hover {
  background-color: #898989;
}

.cuadrado img {
  width: 85%;
}

.cuadro {
  padding: 2% 5%;
  text-align: center;
}

.cuadro p {
  font-size: 1.5em;
  font-weight: bold;
}

#footer {
  width: 100%;
  float: left;
  margin-top: 2%;
}

/* --------------------------- DISEÑO CSS VOLVER BOTON  --------------------------- */
.volver {
  margin: 1em;
  background-color: #31405F !important;
  color: white;
}

.volver:hover {
  background-color: #22407E !important;
  color: white !important;
}

/* --------------------------- DISEÑO CSS VOLVER BOTON  --------------------------- */
#table-usuarios {
  font-family: "Mukta", sans-serif;
  font-size: 1.7rem;
}

#table-usuarios thead {
  background-color: #22407E;
  color: white;
}

#table-usuarios .browser-default {
  width: 70%;
  padding: 0%;
}

#table-usuarios .ver-btn-roles {
  background-color: #22407E;
  border-color: #22407E;
}

#table-usuarios .ver-btn-roles:hover {
  background-color: #C9081F;
  border-color: #C9081F;
}

/* --------------------------- DISEÑO CSS SIDEBAR  --------------------------- */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  border-top: 1px solid #BABABA;
  background: #C9081F;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Mukta", sans-serif;
}

#sidebar h3 {
  margin-top: 0px !important;
  margin-bottom: -12px !important;
}

#sidebar #sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #C9081F;
}

#sidebar #sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: white;
  -webkit-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
}

#sidebar #sidebarCollapse span:first-of-type {
  /* rotate first one */
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

#sidebar #sidebarCollapse span:nth-of-type(2) {
  /* second one is not visible */
  opacity: 0;
}

#sidebar #sidebarCollapse span:last-of-type {
  /* rotate third one */
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

#sidebar #sidebarCollapse.active span {
  /* no rotation */
  -webkit-transform: none;
          transform: none;
  /* all bars are visible */
  opacity: 1;
  margin: 5px auto;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #BABABA;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: white;
  background: #31405F;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #da263c;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #da263c;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger {
  display: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#logo_vicerrectoria_sidebar {
  display: none;
}

@media (max-width: 768px) {
  .icon-bar {
    width: 22px;
    height: 2px;
    background-color: white;
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 4px;
  }
  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  .navbar-toggler .top-bar {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
            transform-origin: 10% 10%;
  }
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  .navbar-toggler .bottom-bar {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
            transform-origin: 10% 90%;
  }
  .navbar-toggler.collapsed .top-bar {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-toggler.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #sidebar {
    margin-left: -250px;
    position: fixed;
    z-index: 10;
  }
  #sidebar.show {
    margin-left: 0;
  }
  #logo_vicerrectoria_navbar {
    display: none !important;
  }
  #logo_vicerrectoria_sidebar {
    display: block !important;
    max-width: 170px;
    margin: auto;
  }
  #logo_div {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
  #sidebarCollapse {
    display: block;
  }
  #sidebar.show {
    margin-left: 0;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.show span {
    margin: 0 auto;
  }
  #sidebarCollapse.show span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.show span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.show span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
}

/* --------------------------- DISEÑO CSS INFORMACION SALAS  --------------------------- */
.shortcuts {
  float: left;
  width: 25%;
  margin-right: 1.5%;
  border-right: 2px solid #B5B6B7;
}

.info_container {
  float: left;
  width: 100%;
  font-size: 1.7rem;
  margin-left: 3%;
  margin-right: 3%;
}

.info_container .info_h1 {
  text-align: center;
  font-family: 'Sanchez', serif;
  float: left;
  width: 100%;
}

.info_container .sala_img {
  width: 100%;
  max-width: 350px;
  height: auto;
  float: left;
}

.info_container .div_info_salas {
  float: left;
  width: 60%;
  margin-left: 2%;
}

.info_container .info_sala_article {
  font-family: 'Mukta', sans-serif;
  padding-bottom: 2%;
  padding-top: 2%;
  border-bottom: 2px solid #B5B6B7;
  float: left;
  width: 100%;
}

.info_container .info_sala_article p {
  display: inline;
}

.info_container .editar_sala_button,
.info_container .dar_baja_sala_button {
  background-color: #22407E;
  color: white;
}

.info_container .editar_sala_button:hover,
.info_container .dar_baja_sala_button:hover {
  cursor: pointer;
  background-color: #C9081F;
  color: white;
}

/* ------------------------ RESPONSIVE EDITS ------------------- */
@media only screen and (max-width: 768px) {
  .div_info_salas {
    width: 100%;
  }
  .div_info_salas .info_form {
    text-align: center;
  }
}

/* --------------------------- DISEÑO CSS USUARIOS REGISTRADOS  --------------------------- */
#usuarios-registrados {
  font-family: "Sanchez", serif;
}

/* --------------------------- DISEÑO CSS EDITAR/REGISTRAR SALAS  --------------------------- */
.shortcuts {
  float: left;
  width: 25%;
  margin-right: 1.5%;
  border-right: 2px solid #b5b6b7;
}

.editar_sala_container {
  float: left;
  width: 70%;
}

.editar_sala_container #editar_sala_h1 {
  text-align: center;
  font-family: "Sanchez", serif;
  margin-bottom: 5%;
}

.editar_sala_container .editar_sala_form {
  font-family: "Mukta", sans-serif;
  font-size: 1.6rem;
  padding-left: 3%;
}

.editar_sala_container .editar_sala_form .editar_sala_input {
  margin-bottom: 2%;
  margin-top: 0.7%;
  border-radius: 6px;
  border: 1px solid #000000;
  width: 100%;
  padding: 0.8%;
  font-family: "Mukta", sans-serif;
  resize: none;
}

.editar_sala_container #vista_prev_label {
  font-family: "Mukta", sans-serif;
  margin-top: 2%;
}

.editar_sala_container #img_previa {
  width: 40%;
}

.editar_sala_container .button_div {
  text-align: center;
}

.editar_sala_container #editar_sala_button {
  background-color: #405d9a;
  border-radius: 11px;
  border-style: none;
  color: white;
  padding: 1%;
  margin-top: 3%;
  width: 100%;
}

.editar_sala_container #editar_sala_button:hover {
  cursor: pointer;
  background-color: #c9081f;
}

/* --------------------------- DISEÑO CSS EDITAR/REGISTRAR SALAS  --------------------------- */
.buscar_reserva {
  background-color: #405D9A;
  border-radius: 11px;
  border-style: none;
  color: white;
  padding: 0.5%;
  margin: 1%;
}

.buscar_reserva:hover {
  cursor: pointer;
  background-color: #C9081F;
}

#h3SalaReserva {
  float: left;
  margin-left: 7%;
}

#selectSalaReserva {
  margin-left: 1% !important;
}

.editar_sala_container {
  font-size: 1.7rem;
}

.editar_sala_container input,
.editar_sala_container textarea {
  font-size: 1.6rem;
}

.select-sala {
  margin-left: 1%;
}

.select-sala select {
  width: 50%;
}

#img_previa {
  width: 100%;
  max-width: 350px;
  height: auto;
}

/* --------------------------- DISEÑO CSS DAR DE BAJA SALAS  --------------------------- */
.info_h1 {
  text-align: center;
  font-family: "Sanchez", serif;
}

.bala_sala_form {
  font-family: "Mukta", sans-serif;
  padding-left: 3%;
}

.bala_sala_form .baja_sala_input {
  margin-bottom: 2%;
  margin-top: 0.7%;
  border-radius: 6px;
  border: 1px solid #000000;
  width: 100%;
  padding: 0.8%;
  font-family: "Mukta", sans-serif;
  resize: none;
}

.button_div {
  text-align: center;
}

.button_div #baja_sala_button {
  background-color: #405d9a;
  color: white;
}

.button_div #baja_sala_button:hover {
  cursor: pointer;
  background-color: #c9081f;
  color: white;
}

/* --------------------------- DISEÑO CSS INVENTARIO ACTIVOS  --------------------------- */
.inventario_activos {
  float: left;
  width: 72%;
  margin-top: 2%;
}

.inventario_activos .activo_inv_button {
  padding: 0.7%;
  background-color: #31405F;
  color: white;
  border-radius: 8%;
  border: none;
  margin-bottom: 2%;
}

.inventario_activos #editar_activo_inv {
  margin-left: 1%;
}

.inventario_activos #borrar_inv_button {
  background-color: #C9081F;
}

.inventario_activos #ver_inv_button,
.inventario_activos #borrar_inv_button {
  width: 32%;
  padding: 2%;
  float: left;
}

.inventario_activos #editar_activo_inv {
  margin-left: 1%;
}

.inventario_activos #borrar_inv_button {
  background-color: #C9081F;
  width: 34%;
  float: right;
}

.botones-activos {
  margin-left: 0% !important;
  margin-bottom: 2% !important;
}

.botones-activos button {
  background-color: #22407E;
  border-color: #22407E;
}

.botones-activos button:hover {
  background-color: #C9081F;
  border-color: #C9081F;
}

.ver-btn {
  float: right;
}

.borrar-btn {
  float: left;
  color: white !important;
}

/* --------------------------- DISEÑO CSS MODAL --------------------------- */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.contenidoModal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  max-height: calc(129vh - 210px);
  overflow-y: auto;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar :focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.divTituloModal {
  padding: 2px 16px;
  background-color: #31405F;
  color: white;
}

.modal_form {
  margin-left: 3%;
  margin-top: 2%;
}

.modal-input {
  width: 97%;
}

.modal-textarea {
  max-width: 97%;
  width: 97%;
}

#modal-btn-div {
  text-align: center;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-btn-div .modal-btn {
  width: 100%;
  padding: 5%;
  background-color: #31405F;
  color: white;
  border: none;
  border-radius: 8%;
}

#modal-btn-div .modal-btn:hover {
  background-color: #C9081F;
}

/* --------------------------- DISEÑO CSS MODAL REGISTRAR ACTIVO  --------------------------- */
/* --------------------------- DISEÑO CSS MODAL VER ACTIVO  --------------------------- */
.ver-activo {
  font-family: "Mukta", sans-serif;
  font-size: 1.7rem;
}

.ver-activo #ubicacion-activo {
  border-bottom: 1px solid #BABABA;
}

.ver-activo .ver-activo-input {
  font-size: 1.6rem;
}

.ver-activo select,
.ver-activo textarea {
  font-size: 1.6rem;
}

.ver-activo select.form-control:not([size]):not([multiple]) {
  height: auto;
}

#activos-registrados {
  font-family: "Sanchez", serif;
}

#verActivo {
  font-family: "Sanchez", serif;
}

/* --------------------------- DISEÑO CSS RESERVAR ACTIVO  --------------------------- */
#h3ActivoReserva {
  font-family: "Sanchez", serif;
  margin: auto;
}

.titulo-reserva {
  text-align: center;
  margin-top: 4% !important;
}

#calendar {
  margin-bottom: 5%;
}

.sidebarReservas {
  display: none;
}

.boton-reserva {
  background-color: #31405F;
  border-color: #31405F;
  font-size: 1.7rem;
  color: white;
}

.boton-reserva:hover {
  background-color: #C9081F;
  border-color: #C9081F;
  color: white;
}

.fc {
  font-size: 1.2em !important;
}

@media (max-width: 768px) {
  .fc {
    font-size: 0.9em !important;
  }
  .fc-today-button {
    margin-top: 0.5rem !important;
  }
  .fc-button {
    padding: 0em 0.5em !important;
  }
  .fc-toolbar h2 {
    font-size: 1.5em !important;
  }
  .select-sala {
    margin-left: 1.5rem;
  }
  #ModalAdd {
    width: 95% !important;
  }
  #ModalAdd legend {
    margin-left: 5%;
    width: 90% !important;
  }
  #h3ActivoReserva {
    font-size: 2rem !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

/* --------------------------- DISEÑO CSS CONFIGURAR ACTIVOS  --------------------------- */
.configActivo {
  font-size: 1.7rem;
}

.configActivo input,
.configActivo select,
.configActivo textarea {
  font-size: 1.6rem;
}

.configActivo select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.configActivo .boton-config {
  width: 100%;
  background-color: #31405F;
  border-color: #31405F;
  font-size: 1.7rem;
  color: white;
}

.configActivo .boton-config:hover {
  background-color: #C9081F;
  border-color: #C9081F;
  color: white;
}

.tituloModal {
  font-family: "Sanchez", serif;
  margin-bottom: 2%;
}

#editUbicacion {
  margin-left: 2%;
  width: 100%;
}

#listaActivos #activosSeleccionados {
  list-style: none;
}

#listaActivos #activosSeleccionados .basurero {
  color: #C9081F;
}

#listaActivos #activosSeleccionados .basurero:hover {
  cursor: pointer;
  color: red;
}

#agregar {
  background-color: #31405F;
  border-color: #31405F;
  color: white;
}

#agregar:hover {
  background-color: #C9081F;
  border-color: #C9081F;
  color: white;
}

#trasladar {
  width: 100%;
  background-color: #31405F;
  border-color: #31405F;
  font-size: 1.7rem;
}

#trasladar:hover {
  background-color: #C9081F;
  border-color: #C9081F;
}

.configForm {
  width: 95%;
}

.alert {
  display: none !important;
}

legend {
  border-bottom: 1px solid #BABABA;
  margin-left: 0%;
}

/* --------------------------- DISEÑO CSS CONFIGURAR ROLES  --------------------------- */
.configRol {
  font-size: 1.7rem;
}

.configRol input,
.configRol select,
.configRol textarea {
  font-size: 1.6rem;
}

.configRol select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.configRol .boton-config {
  width: 100%;
  background-color: #31405F;
  border-color: #31405F;
  padding: 0.7%;
  font-size: 1.7rem;
}

.configRol .boton-config:hover {
  background-color: #C9081F;
  border-color: #C9081F;
}

.rol {
  font-family: "Sanchez", serif;
}

/* --------------------------- DISEÑO CSS CONFIGURAR INSUMOS  --------------------------- */
.agregar {
  background-color: #22407E;
}

.agregar span {
  color: white;
}

.agregar:hover {
  background-color: #C9081F;
}

.listaInsumos ul {
  list-style: none;
  font-size: 1.6rem;
}

.listaInsumos ul li:hover {
  cursor: pointer;
}

.listaInsumos ul li:hover span {
  color: red;
}

.insumoForm {
  width: 100%;
}

.boton-insumo {
  width: 97%;
  background-color: #31405F;
  border-color: #31405F;
  font-size: 1.7rem !important;
  color: white;
}

.boton-insumo:hover {
  background-color: #C9081F;
  border-color: #C9081F;
  color: white !important;
}

/* --------------------------- DISEÑO CSS ASIGNAR ACTIVOS A SALAS  --------------------------- */
.selectSala {
  font-size: 1.7rem;
}

.selectSala select.form-control:not([size]):not([multiple]) {
  height: auto;
}

legend {
  border-bottom: 1px solid #BABABA !important;
}

.borrar {
  background-color: #C9081F;
}

.borrar span {
  color: white;
}

.borrar:hover {
  background-color: #22407E;
}

.borrar:hover span {
  color: white;
}

.boton-guardar {
  background-color: #31405F;
  border-color: #31405F;
  font-size: 1.7rem !important;
  color: white;
}

.boton-guardar:hover {
  background-color: #C9081F;
  border-color: #C9081F;
  color: white !important;
}

/* --------------------------- DISEÑO CSS ALERTA TABLAS  --------------------------- */
.alerta {
  padding: 0.8em;
  background-color: #ff9595;
  border-radius: 4px;
  color: #b41717;
  font-size: 2rem;
}
/*# sourceMappingURL=app.css.map */